[submodule "Documents/Booking-App/Documents/Booking-App/Booking-App-Dyplom"]
	path = Documents/Booking-App/Documents/Booking-App/Booking-App-Dyplom
	url = https://github.com/AA-4444/Booking-App-Dyplom.git
